<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Add New Blog</title>
  </head>
  <body>
    <%- include('./partials/nav') %>

    <div class="container mt-5" style="max-width: 800px;">
      <div class="card shadow">
        <div class="card-header bg-dark text-white">
          <h3 class="mb-0">Create a New Blog</h3>
        </div>

        <div class="card-body">
          <form action="/blog" method="POST" enctype="multipart/form-data">

            <div class="mb-3">
              <label class="form-label">Blog Title</label>
              <input
                type="text"
                name="title"
                class="form-control"
                placeholder="Enter blog title"
                required
              />
            </div>

            <div class="mb-3">
              <label class="form-label">Cover Image</label>
              <input
                type="file"
                name="coverImage"
                class="form-control"
              />
            </div>

            <div class="mb-3">
              <label class="form-label">Blog Content</label>
              <textarea
                name="body"
                rows="10"
                class="form-control"
                placeholder="Write your blog here..."
                required
              ></textarea>
            <!-- </div>
            Author
            <div class="mb-4">
              <label class="form-label">Author</label>
              <input
                type="text"
                class="form-control"
                value="<%= user ? user.fullName : '' %>"
                readonly
              />
            </div> -->

            <div class="d-grid">
              <button class="btn btn-primary btn-lg">
                Publish Blog
              </button>
            </div>

          </form>
        </div>
      </div>
    </div>

    <%- include('./partials/script') %>
  </body>
</html>